asgiref==3.3.4
beautifulsoup4==4.9.3
boto==2.49.0
Cactus==3.3.3
colorama==0.4.4
colorlog==5.0.1
dj-database-url==0.5.0
Django==3.2.4
django-heroku==0.3.1
django-livereload-server==0.3.2
django-markwhat==1.6.2
django-sass==1.0.1
gunicorn==20.1.0
importlib-metadata==3.10.1
keyring==5.7.1
libsass==0.21.0
markdown2==2.4.0
psycopg2==2.9.1
python-dotenv==0.18.0
pytz==2021.1
six==1.16.0
soupsieve==2.2.1
sqlparse==0.4.1
tornado==6.1
whitenoise==5.2.0
zipp==3.4.1
