{% extends 'base.html' %}

{% load humanize %}

{% block content %}
  <div class='container mt-5  calculator-container'>
    <div class='row'>
      <div class='form-container mb-3 col-sm-12 col-md-4'>
        <h4>Enter Details: </h4>
        <form action="{% url 'calculate_loan' %}" method="POST">
        {% csrf_token %}
          <label for="amount-row">Amount</label>
          <div 
          id="amount-row"  
          class="form-row">
            <div class="col-md-8 mb-3 input-group">
              <span id="amount-dollar" class="input-group-text dollar-span" >$</span>
              <input 
              min=100 
              type="number"
              step="any"
              name="amount"
              value="{{ values.amount }}"
              class="form-control" 
              aria-describedby="amount-dollar">
              {% if amount_error %}
                <div 
                id="amount_error"
                class="error-container mt-2 alert alert-danger col-sm-12">
                  {{ amount_error }}
                </div>
              {% endif %}
            </div>
          </div>
          <label for="downpayment-row">Down Payment</label>
          <div id="downpayment-row" class="form-row">
            <div class="col-md-8 mb-3 input-group">
              <span id="amount-dollar" class="input-group-text dollar-span" >$</span>
              <input 
              min=0 
              type="number"
              step="any"
              name="downpayment"
              value="{{ values.downpayment }}" 
              class="form-control"
              aria-describedby="amount-dollar">
            </div>
          </div>
          <label for="interest-row">Annual Interest</label>
          <div id="interest-row" class="form-row">
            <div class="col-md-8 mb-3 input-group">
              <input 
              min=0 
              type="number"
              step="any"
              class="form-control" 
              name="interest" 
              value="{{ values.interest }}"
              aria-describedby="percent-sign">
              <span class="input-group-text percent-span" id="percent-sign">%</span>
              {% if interest_error %}
                <div 
                id="interest_error"
                class="error-container mt-2 alert alert-danger col-sm-12">
                  {{ interest_error }}
                </div>
              {% endif %}
            </div>
          </div>
          <label for="loan-length-row">Loan Length</label>
          <div id="loan-length-row"  class="form-row">
            <div class="col-md-8 mb-3 input-group">
              <input 
              min=1 
              type="number" 
              name="term"
              value="{{values.term}}"
              class="form-control" 
              placeholder="(Years)">
              {% if term_error %}
                <div 
                id="term_error"
                class="error-container mt-2 alert alert-danger col-sm-12">
                  {{ term_error }}
                </div>
              {% endif %}
            
            </div>
          </div>
          <button type="submit" class="calculate-btn btn">Calculate</button>
          <input type="hidden" name="no_json" value="True">
        </form>
      </div>
      {% if monthly_payment %}
      
        <div class="results-container col-sm-12 col-md-8">
          
            <div class='result-item'>
              <h4>Monthly Payment: </h4>
              <p>${{ monthly_payment|intcomma }}</p>
            </div>
            <div class='result-item'>
              <h4>Total Interest:  </h4>
              <p>${{ total_interest|intcomma }}</p>
            </div>
            <div class='result-item'>
              <h4>Total Payment:  </h4>
              <p>${{ total_payment|intcomma }}</p>
            </div>
        </div>
      {% endif %}
    </div>
  </div>
  
{% endblock content %}