.navbar{
  h3{
    color: white;
  }
}

.calculator-container{



  /* .form-container{
    background-color: lightcoral;
    .form-row{
      background-color: antiquewhite;
    }
  }

  .results-container{
    background-color: aquamarine;
    .loan-results-list{
      background-color: lightgreen;
    }
  } */

  .dollar-span{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }

  .percent-span{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
  }
  
}